<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>

    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/32x32.png">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Aflah Nadhif</strong>
              <small>@aflahnadhif</small>
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/32x32.png">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Hugh Jackman</strong>
              <small>@hughjackman</small>
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/32x32.png">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Arsenal F.C.</strong>
              <small>@arsenal</small>
            </p>
          </div>
        </div>
      </article>
    </div>

  </nav>
</div>